body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #fff5fa;
    color: #333;
}

a { 
    text-decoration: none; 
}

header {
    background-color: #ff9acb;
    padding: 10px 30px;
    align-items: center;
    color: white;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

section {
    padding: 5%;
    text-align: center;
}

.skin-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 35px;
    margin-top: 40px;
    padding: 0 5%;
}

.skin {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(255, 105, 180, 0.2);
    transition: 0.2s;
    text-align: center;
}

.skin:hover {
    transform: translateY(-6px);
}

.skin img {
    width: 100%;
    border-radius: 10px;
}

.back-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #ff6fb5;
    color: white;
    font-weight: 600;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(255, 105, 180, 0.3);
    transition: 0.2s;
}

.back-btn:hover {
    background: #ff4fa3;
    transform: translateY(-3px);
}

footer {
    text-align: center;
    padding: 25px;
    background: #ff9acb;
    color: white;
    margin-top: 50px;
}
